<h2><%= @endorsement_level.name %></h2>
<%= link_to "Edit Endorsement Level", edit_endorsement_level_path(@endorsement_level), :class => "btn btn-primary btn-large" %>
<%= link_to "Return to All Endorsement Levels", endorsement_levels_path, :class => "btn btn-primary btn-large" %>
