<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= @msg_txt %>
  <p>
  <b>New Jersey Association for Infant Mental Health</b><br>
  Center for Autism and Early Childhood Mental Health<br>
  College of Education and Human Services<br>
  MONTCLAIR STATE UNIVERSITY<br>
  1 Normal Avenue<br>
  Montclair, NJ 07043<br>
  Email: info@nj-aimh.org<br>
  Web Site: www.nj-aimh.org
  </body>
</html>
