html {
  background: #FAEBD7;
}

body {
  font: 14pt "Myriad Pro", Helvetica;
  margin: 5px 10% 0 10%;
  height: 100%;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.flash {
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-weight: bold;
}

#notice {
    background: #85FF00;
    color: black;
}
