html {
  background: #FAEBD7;
}

body {
  font: 13pt "Myriad Pro", Helvetica;
  margin: 5px 10% 0 10%;
  height: 100%;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.flash {
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-weight: bold;
}

.overall{width:720px;
         height:600px;
         padding:5px;
         border:3px solid #0000ff;}

#notice {
    background: #85FF00;
    color: black;
}

.blue_box{width:400px;
          float:left;
          margin-right: 10px;
          height:100px;
          background-color: #4d4dFF;}

ul#members {
  padding: 5px;
  list-style-type: none;
}

ul#members li {
  margin-bottom: 2px;
}

a {
    color: #74CC00;
    height: 80px;
    width: 100px;
    padding: 3px;
    border: 2px dotted #0088dd;
    background-color: #ffff00;}
}
