<h2><%= @practice_area.name %></h2>
<%= link_to "Edit Practice Area", edit_practice_area_path(@practice_area), :class => "btn btn-primary btn-large" %>
<%= link_to "Return to All Practice Areas", practice_areas_path, :class => "btn btn-primary btn-large" %>
